

h1 {
    font-size: 24px;
    color: blue;
    font-weight: bold;
    font-style: italic;
}

h2 {
    font-size: 20px;
    color: #0000ff;
    font-weight: bold;
}

h3 {
    font-size: 16px;
    color: #008080; 
    font-weight: bold;
}

.tekst1 {
    color: #4D4D4D;
    font-weight: bold;
}

a {
    color: #8A2BE2;
    text-decoration: none;
}

header {
    width: 100%;
    height: 33vh; 
    background-image: url('img/360_F_88981880_YjJManMJ6hJmKr5CZteFJAkEzXIh8mxW.jpg'); 
    background-image: top;
    background-size: cover;
    background-position: 200%; 
    background-repeat: no-repeat;
}

header h1, header p {
    color: black; 
}
.img1{
    width: 50vw;
    display: block; 
    margin: 0 auto; 
}
.img2{
    width: 50vw;
    display: block; 
    margin: 0 auto; 
}
.img3{
    width: 50vw;
    display: block; 
    margin: 0 auto; 
}
.img4{
    width: 50vw;
    display: block; 
    margin: 0 auto; 
}
.img5{
    width: 50vw;
    display: block; 
    margin: 0 auto; 
}
article {
        border: 2px solid #jouw-kleur; /* Kies een kleur */
        border-radius: 15px; /* Maak de border rond */
        border-left-width: 4px; /* Dikkere lijn aan de linkerkant */
        padding: 10px; /* Voeg wat padding toe voor de inhoud */
        margin: 10px 0; /* Voeg wat marge toe tussen de artikelen */

}