

h1 {
    font-size: 24px;
    color: blue;
    font-weight: bold;
    font-style: italic;
}

h2 {
    font-size: 20px;
    color: #0000ff;
    font-weight: bold;
}

h3 {
    font-size: 16px;
    color: #008080; 
    font-weight: bold;
}

.tekst1 {
    color: #4D4D4D;
    font-weight: bold;
}

a {
    color: #8A2BE2;
    text-decoration: none;
}

header {
    width: 100vw; /* Volledige breedte van het scherm */
    height: 33vh; /* Minimaal 1/3 van de hoogte van het scherm */
    background-image: url('jouw-afbeelding-url.jpg'); /* Voeg hier je afbeelding toe */
    background-size: cover; /* Zorg dat de afbeelding de volledige breedte en hoogte bedekt */
    background-repeat: no-repeat; /* Geen herhaling van de afbeelding */
    background-position: center; /* Gecentreerde afbeelding */
}
header h1 {
    color: #ffffff; /* Kies een kleur die contrasteert met de achtergrond */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Eventueel schaduw toevoegen voor betere leesbaarheid */
}

header p {
    color: #f0f0f0; /* Ook hier een contrasterende kleur */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}
img {
    width: 50vw; /* Breedte is de helft van het scherm */
    height: auto; /* Zorg dat de hoogte automatisch wordt aangepast */
}
article {
    border: 3px solid #000; /* Standaard border */
    border-left-width: 6px; /* Dikkere linkerzijde */
    border-radius: 10px; /* Ronde border */
    padding: 10px; /* Voeg wat ruimte binnen de artikelen toe */
    margin: 10px 0; /* Ruimte tussen de artikelen */
}
